.add-form {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 50vw;
    filter:url('#shadowed-goo');
    pointer-events: none;
}
.add-form * {pointer-events: all;}
.add-form > input[type='checkbox'] {
    position: absolute;
    right: -20px;
    bottom: -20px;
}
.add-form__add-button {
    position: absolute;
    z-index: 1;
    right: 20px;
    bottom: 20px;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    border: none;
    outline: none;
    outline-color: transparent;
    background-color: #FF0266;
    background-color: #3F51B5;
    background-color: #E91E63;
    cursor: pointer;
    transition: all 300ms ease-out;
}
.add-form__add-button:hover {
    transform: scaleX(1.2) scaleY(1.2);
    background-color: #F8BBD0;
}
.add-form__add-button::before,
.add-form__add-button::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 20px;
    border-radius: 2px;
    background-color: #FFFFFF;
    transform: translateX(-50%) translateY(-50%);
    transition: all 300ms ease-out;
}
.add-form__add-button::after {
    transform: translateX(-50%) translateY(-50%) rotateZ(90deg);
}
.add-form__add-button:hover::before,
.add-form__add-button:hover::after {
    box-shadow: 0 0 10px rgba(40, 40, 40, .2);
}

/*
 * FORM CONTENT
 */
.add-form__content {
    position: absolute;

    right: 45px;
    bottom: 45px;

    padding: 25px;
    background-color: #FF0266;
    background-color: #E91E63;
    border-radius: 25px;
    transform: scaleX(0) scaleY(0) translate3d(0,0,0);
    transform-origin: 100% 100%;
    transition: all 400ms ease-out;
}
.add-form__content > * {
    opacity: 0;
    transition: all 300ms ease-out, opacity 300ms 200ms ease-out;
}

.add-form input:checked ~ .add-form__add-button {
    right: 25px;
    bottom: 25px;
    width: 50px;
    height: 50px;
}
.add-form input:checked ~ .add-form__add-button::before {
    height: 0;
}

.add-form input:checked ~ .add-form__content {
    right: 60px;
    bottom: 60px;
    transform: scaleX(1) scaleY(1);
}
.add-form .add-form__add-button:hover + .add-form__content {
    right: 68px;
    bottom: 68px;
}
.add-form input:checked ~ .add-form__content > * {
    opacity: 1;
}

.add-form__content__title,
.add-form__content__text {
    width: 100%;
    min-height: 100px;
    padding: .5em;
    border: none;
    outline-color: #3F51B5;
    background-color: #FCE4EC;
    resize: none;
    box-sizing: border-box;
}
.add-form__content__title {
    min-height: auto;
    margin-bottom: 25px;
    padding: .8em;
}

.add-form__geolocalisation {
    display: block;
    position: relative;
    cursor: pointer;
    height: 29px;
    transition: opacity 300ms ease-out;
}
.add-form__geolocalisation::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 29px;
    height: 100%;
    transform: translateY(-50%);
    background-image: url("../../assets/images/geolocalisation.svg");
    filter: invert(1);
}
.add-form__geolocalisation:hover {
    opacity: .5 !important;
}

.add-form__content__add,
.add-form__content__reset {
    position: relative;
    display: block;
    width: 50%;
    height: 46px;
    margin: 15px auto 0;
    padding: .5em 0;
    color: #FFFFFF;
    font-size: 1.2rem;
    font-weight: bold;
    border: 2px solid #FFFFFF;
    border-radius: 50px;
    outline: none;
    outline-color: transparent;
    background-color: transparent;
    cursor: pointer;
}
.add-form__content__reset {
    display: none;
    font-size: 1rem;
    height: 40px;
    border: none;
}

.add-form__content__add::before,
.add-form__content__add::after,
.add-form__content__reset::before,
.add-form__content__reset::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    border-radius: 2px;
    background-color: #FFFFFF;
    transform: translateX(-50%) translateY(-50%);
    transition: all 300ms 0ms ease-out, font-size 300ms 200ms ease-out;
}
.add-form__content__add::after {
    transform: translateX(-50%) translateY(-50%) rotateZ(90deg);
}
.add-form__content__reset::before,
.add-form__content__reset::after {
    transform: translateX(-50%) translateY(-50%) rotateZ(45deg);
}
.add-form__content__reset::after {
    transform: translateX(-50%) translateY(-50%) rotateZ(-45deg);
}
.add-form__content__add:hover,
.add-form__content__reset:hover {
    font-size: 0;
}
.add-form__content__add:hover::before,
.add-form__content__add:hover::after,
.add-form__content__reset:hover::before,
.add-form__content__reset:hover::after {
    width: 4px;
    height: 20px;
    transition: all 300ms 200ms ease-out, font-size 300ms 0ms ease-out;
}
