.list {
    position: relative;
    min-height: 50vh;
    margin-bottom: 150px;
    overflow: hidden;
}
.list::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 80px;
    left: calc(10vw + 135px);
    width: 2px;
    background-color: #ECEFF1;
    box-shadow: 1px 1px 5px rgba(30, 30, 30, .75);
}