.tile {
    position: relative;
    color: #263238;
    background-color: #ECEFF1;
    border-radius: 4px;
    /*min-height: 30vh;*/
    max-width: 600px;
    margin: 0 10vw 15vh;
    padding: 1em;
}

.tile + .tile {
    margin-top: calc(15vh + 100px);
}

/*
 * GEOLOCALISATION
 */
.tile__geolocalisation {
    display: flex;
    position: absolute;
    right: 1em;
    bottom: -1em;
    align-items: center;
    max-width: calc(100% - 2em);
    margin: 0;
    font-size: .9rem;
    font-weight: 600;
    color: #ECEFF1;
    transform: translateY(100%);
}
.tile__geolocalisation p {
    margin: 0;
    padding: 1em;
    background-color: rgba(40, 44, 52, .9);
}
.tile__geolocalisation svg {
    width: 1.8em;
    height: 1.8em;
    margin-right: .4em;
}
.tile__geolocalisation path {
    fill: #FFFFFF;
    filter:url(#shadow);
}

/*
 * PICTURE
 */
.tile__picture {
    position: relative;
    width: 100%;
    max-height: 80vh;
    margin: 0;
    cursor: pointer;
    overflow: hidden;
    transition: all 300ms ease-out;
    pointer-events: none;
}
.tile__picture img {
    display: block;
    width: 100%;
    margin: 0;
}
.tile__picture::before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #3C3C3C;
    background-image: url("../../assets/images/full-size.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100px 100px;
    opacity: 0;
    pointer-events: none;
    transition: all 300ms ease-out;
}
.tile__picture::after {
    content: 'cliquez pour agrandir la photo';
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    opacity: 0;
    color: #ECEFF1;
    pointer-events: none;
    transform: translateX(-50%) translateY(-50%);
    transition: all 300ms ease-out;
}
.tile .tile__picture:hover::before,
.tile .tile__picture:hover::after {
    opacity: .75;
}
.tile .tile__picture:hover::before {
    animation: tall 2500ms ease-out infinite;
}

.tile__picture--pending {
    min-height: 250px;
    background-color: #f28b74;
    background-image: url("../../assets/images/picture.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 30%;
    animation: picture 5s ease-out infinite;
    filter: blur(4px);
}
.tile__picture--pending img {
    display: none;
}

/*
 * TEXT
 */
.tile__text {
    max-width: 80%;
    margin: 1em auto 0;
    padding: 0;
    /*text-align: left;*/
    font-size: 1rem;
}

/*
 * MODIFIER
 */
.tile__manage {
    display: flex;
    position: absolute;
    top: 4px;
    right: 0;
    flex-direction: column;
    padding: 0 10px;
    background-color: #ECEFF1;
    border-radius: 10px 10px 0 0;
    transform: translateY(-100%);
    /*filter:url('#shadowed-goo');*/
}
.tile__manage button {
    display: block;
    width: 40px;
    height: 40px;
    margin: 10px 0 5px;
    border: none;
    border-radius: 25px;
    background-color: #E91E63;
    cursor: pointer;
    outline: none;
    outline-color: transparent;
    transition: all 300ms ease-out;
}
.tile__manage button img {
    max-width: 80%;
    max-height: 80%;
    filter: invert(1);
}
.tile__manage button:hover {
    transform: scaleX(1.2) scaleY(1.2);
}

.tile--edition input,
.tile--edition textarea {
    display: inline-block;
    position: relative;
    padding: .5rem;
    color: #FFFFFF;
    border: none;
    background-color: #3F51B5;
    background-color: #E91E63;
}
.tile--edition input::placeholder,
.tile--edition textarea::placeholder {
    color: #FFFFFF;
    font-style: italic;
}
.tile--edition textarea {
    width: 100%;
    resize: none;
}

.tile--edition .tile__picture::before {
    background-image: none;
}
.tile--edition .tile__picture::after {
    content: 'Vous ne pouvez pas modifier la photo. Pour se faire, veuillez supprimer complétement le post et en créer un nouveau';
    font-size: 1rem;
}

@media screen and (min-width: 740px) {

    .tile__manage {
        top: 0;
        right: 1em;
        flex-direction: row;
    }
    .tile__manage button {
        margin: 10px;
    }
}

@keyframes tall {
    0% {
        background-size: 100px 100px;
    }
    50% {
        background-size: 150px 150px;
    }
    70%, 100% {
        background-size: 100px 100px;
    }
}

@keyframes picture {
    0% {
        background-size: auto 30%;
    }
    50% {
        background-size: auto 20%;
    }
    70%, 100% {
        background-size: auto 30%;
    }
}